.task-list-container {
  .task-list {
    list-style: none;
    padding: 0;

    .task-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .edit-task-container {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-grow: 1;

        .task-input {
          flex-grow: 1;
        }

        .task-select {
          flex-basis: 150px;
        }

        .task-actions {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      .task-name {
        flex-grow: 1;
      }

      .task-priority {
        margin-right: 10px;
      }

      button {
        margin-left: 5px;
      }

      .task-actions {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
