.task-add-container {
  max-width: 600px;
  margin: auto;

  @media (max-width: 600px) {
    max-width: 100%;
  }

  margin-bottom: 20px;

  .form-control, .form-select {
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
